<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>north of morocco</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	{% load static %}
	<!-- Custom-Files -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/bootstrap.css" %} ">
	<!-- Bootstrap-Core-CSS -->
	<link href=" {% static "apptourisme/css/single.css" %}" rel="stylesheet" type="text/css" />
	<!-- single page -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/style.css" %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href=" {% static "apptourisme/css/font-awesome.min.css" %}" rel="stylesheet"/>
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static "apptourisme/css/css_slider.css" %}" rel="stylesheet"/>
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href="index.html">North of Morocco</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="http://localhost:8000" class="active">Accueil</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="Hotel.html">Hotel</a></li>
								<li><a href="Restaurant.html">Restaurant</a></li>
								<li><a href="Transport.html">Transport</a></li>
								<li><a href="Visite.html">Visite</a></li>
								<li><a href="Activite.html">Activite</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt-2">

		</div>
		<!-- //banner -->
	</div>
	<div style="margin-left: 70px ; margin-right: 70px;" >
	<!-- //main banner -->
	<br>
	<p class="p-name" itemprop="name" style=" text-align: center; font-size: 35px; color: #000000;" ><b>Assilah</b></p>
	<br>
	<div>
	<p class="e-content color-black" itemprop="description" align="justify" >
		Asilah ou "Azayla" , comme le prononcent les habitants de la région, est une magnifique petite ville du nord du Maroc, située à seulement 40 km de Tanger. Cette petite ville, bien que moins touristique que Tanger, refuse de vivre dans l'ombre de sa voisine et s'est construit une identité et un nom qui attire les touristes du monde entier. Asilah est la destination phare des hippies et des babas cool, c'est une ville artiste et une ville d'artistes.</p>
	</div>
	
	<div class="rooms-w3ls bg-li py-5" id="price" style="margin: 50px 50px ;">
		<div class="container-fluid py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold">North of Morocco</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3"></p>
			<div class="row">
				<div class="col-lg-4 price-mobamus">
					
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/assilah.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
				<div class="col-lg-4 price-mobamus my-lg-0 my-5">
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/assilah-.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
				<div class="col-lg-4 price-mobamus">
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/plage.png" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<p class="e-content color-black mt-5" itemprop="description" align="justify">
	L'extérieur de la médina abrite l'Asilah de tous les jours avec ses marchés, ses boutiques, ses administrations, ses écoles et ses commerces, mais à l'intérieur c'est un tout autre esprit qui règne. Dès que l'on franchit la grande porte de la Médina, des dessins sur les murs attirent l'attention, de purs chefs-d'oeuvre signés par des artistes d'ici et d'ailleurs. Plus on avance et plus on plonge dans l'univers authentique d'Asilah, avec ses petites maisonnettes blanches, ses boutiques d'artisans, les odeurs des plats traditionnels qui s'échappent des fenêtres des maisons et des restaurants.</p>

	<p class="e-content color-black mt-5" itemprop="description" align="justify">Suivez les pas des passants et des touristes, jusqu'à arriver à la Coraça, appelée également Borj al-Bhar, où une vue magnifique sur l'Atlantique s'offre à vous. Un groupe de gnawa animera à la demande l'ambiance pour seulement quelques dirhams. Une chose est sûr Asilah, cette petite ville authentique ne vous laissera pas de glace.</p>
	
	</div>
</body>
	<br>
	<br>
	<br>

	<footer>
	<!-- copyright -->
	<div class="cpy-right text-center py-3">
		<p>© 2020 North of Morocco. All rights reserved | Design by
			<a > OUMNIA</a>
		</p>
	</div>
	<!-- //copyright -->
	</footer>
</html>
