<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>North of morocco</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
	</script>
	<!-- //Meta tag Keywords -->
	{% load static %}


	<!-- Custom-Files -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/bootstrap.css" %} ">
	<!-- Bootstrap-Core-CSS -->
	<link href=" {% static "apptourisme/css/single.css" %}" rel="stylesheet" type="text/css" />
	<!-- single page -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/style.css" %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href=" {% static "apptourisme/css/font-awesome.min.css" %}" rel="stylesheet"/>
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static "apptourisme/css/css_slider.css" %}" rel="stylesheet"/>
	<!-- //Custom-Files -->
	<link href="{% static "apptourisme/css/fichehotel.css" %}" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static "apptourisme/css/imageHotel.css" %}">

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
	<link rel="stylesheet" onload="window.mainCssWasLoaded=1" href="{% static "apptourisme/css/a8377021e2f9105f4423e5d236e9d9bfbe3b4af6.css" %}"  data-main-css="1"  onerror="throw new Error('CSS file has not been loaded: ' + this.src);"  />
	<link rel="stylesheet" href="{% static "apptourisme/css/af0ddb1635a2be2af15d88b6725de127c5e4f3d9.css" %}"  />
	<link rel="stylesheet" href="{% static "apptourisme/css/9fcd0f5c4c485aa13904ddebc83d8d83c00c4e46.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "apptourisme/css/fdeda6ece261df391b419c47e68be232ebd955a2.css" %}"  media="screen" />
	<link rel="_prefetch" data-defer-prefetch href="{% static "apptourisme/css/3dab1c0c9ea4018178e1a3a007158167c99da57c.css" %}">
	<link rel="_prefetch" data-defer-prefetch href="{% static "apptourisme/css/c4f55664fc72d04e6c864a9ed08199ec33a782e9.css" %}">
	<link rel="_prefetch" data-defer-prefetch href="{% static "apptourisme/css/ab3fb85a8b88142949b3361b5cb020008aa20370.css" %}">
	<link rel="_prefetch" data-defer-prefetch href="{% static "apptourisme/css/ad6bdbd440c59f37dd7b075a916ca272a329f6c4.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "apptourisme/css/e1208f142dbf32117dd711912e64d59c68940886.css" %}"  media="screen" />
 	<link rel="stylesheet" href="{% static "apptourisme/css/36c6995128a9702eb040c3706f231a036159eaa7.css" %}" />

	<link rel="preload" as="script" href="{% static "apptourisme/js/dcc3d427f9cfce010a97bfa34c04415a5f0877cf.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/b7d9d30c56875df3553b561b0a06e5edf66aa9fe.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/4ff87c24153cc619a00be498f2bffc02c1dce464.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/67708df4d08eb52a9dc5d53c78880b82c233afb3.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/0116dfe2663fa69f620434a5c8ea01229a69707d.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/6d098e7597d1f01a605aed169e129bcb8947084e.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/528359eb9f21194adf8c26f81e07c6eb21a2cc89.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/853017e690066f58a41d55fe6277551203f9e27d.js" %}" crossorigin >
	<link rel="preload" as="script" href="{% static "apptourisme/js/e0da7631f82c8dcfd71665e3872b745b823f1a4e.js" %}" crossorigin >
</head>

<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href="index.html">North of morocco</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menut">
                <li><a href="http://127.0.0.1:8000" class="active">Accueil</a></li>
                <li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
                <li><a href="http://127.0.0.1:8000/hotel/">Hotel</a></li>
                <li><a href="http://127.0.0.1:8000/Restaurant/">Restaurant</a></li>
                <li><a href="http://127.0.0.1:8000/transport/">Transport</a></li>
                <li><a href="http://127.0.0.1:8000/visite/">Visite</a></li>
                <li><a href="http://127.0.0.1:8000/activite/">Activite</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt-2">

		</div>
	</div>
  <div class="breadcrumb-mobamu">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Accueil</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">visite guidee</li>
    </ol>
  </div>



<div id="hotellist_inner" class="  nodates_hotels  wider_image " role="region" aria-label="Résultats de recherche" data-et-view=" OQLOLOLOMSVSRQbVKKMadMUWe:1 OQLOLOLOVCJVIQNcGZdMbHGQWKHC:2">

{% for hotel in liste_Hotels %}

	<div id="bloc_hotel" class="bloc_hotel" style="margin-left:150px; margin-right:100px;">
		<div data-et-click="customGoal:NAREFGCQABaOSJIaPdMYTQDZBaDMSHNdABSdKNKNKWe:2 customGoal:NAREFGCQABaOSJIaPdMYTQDZBaDMSHNVBDRALOLOLMO:2 " class="sr_item  sr_item_new sr_item_default sr_property_block  sr_flex_layout sr_item_no_dates        " data-hotelid="1377309" data-class="2" data-score="7,9">
			<div class="sr_item_photo sr_card_photo_wrapper" id="hotel_1377309">
				<a class=" sr_item_photo_link sr_hotel_preview_track  "  target="_blank" rel="noopener" tabindex="-1" focusable="false" aria-hidden="true">
					<div class="w3-content w3-display-container" style="max-width:800px">

					  <img class=" mySlides {{ hotel.idHotel }}" src="{{ hotel.imageHotel.url }}" style="width:100%;height:100px;" >
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
               <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1,{{  hotel.idHotel  }})">&#10094;</div>
               <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1,{{  hotel.idHotel  }})">&#10095;</div>
               <span class="w3-badge demo {{  hotel.idHotel  }} w3-border w3-transparent w3-hover-white" onclick="currentDiv(1,{{  hotel.idHotel  }})"></span>


					  </div>

					</div>

				</a>
			</div>
			<div class="sr_item_content sr_item_content_slider_wrapper ">
				<div class="sr_property_block_main_row">
					<div class="sr_item_main_block">
						<div class="sr-hotel__title-wrap">
							<h3 class="sr-hotel__title
							">

							<span class="sr-hotel__name
							" data-et-click="    ">
	{{ hotel.nomHotel }}
						</span>


				</h3>

			</div>

			<span data-et-view="OLGHPWAUWDBQeEePQYT:1"></span>
			<div class="hotel_desc">
	{{ hotel.descriptionHotel|truncatewords_html:80 }}
			</div>

		</div>
		<div class="sr_item_review_block">
			<div class="reviewFloater reviewFloaterBadge__container">
				<div class="sr-review-score">
				<a class="sr-review-score__link"  target="_blank">
					<div class="bui-review-score c-score bui-review-score--end"> <div class="bui-review-score__badge" aria-label="Avec une note de 7,9"> {{ hotel.noteHotel }} </div> <div class="bui-review-score__content">  </div> </div>
				</a>
			</div>
			<div class="sr-cta-button-row sr-cta-button-top-spacing" data-et-click="   ">
				<a class="txp-cta bui-button bui-button--secondary sr_cta_button no_dates_click jq_tooltip" href="javascript:void(0)#hotelTmpl" target="_blank" data-et-click="customGoal:OQLOLOLOMSVSRQbVKKMadMUWe:1 OLEHJefQPTDIPPQFLT:1 customGoal:OQLOLOLOMSVSRQbVKKMadMUWe:2" data-title="Pour voir les tarifs exacts des chambres à vos dates de séjour et permettre un classement par tarif, veuillez saisir vos dates d'arrivée et de départ dans la fenêtre de recherche sur la gauche.
				" rel="220" data-click-store-id="sr-compset-1377309" id="b_tt_holder_2" aria-describedby="materialized_tooltip_jxknh">
				<span class="bui-button__text">
					Aller sur le site de l'hotel
				</span>
			</a>
		</div>
	</div>
</div>
</div>
</div>
</div>

</div>
{% empty %}
		<p>Aucun Hotel.</p>
{% endfor %}
</div>



<script>
var slideIndex = 1;

var taille = 1;
{% for hotel in liste_Hotels %}
  var taille = taille + 1;
{% endfor %}
for (i=1;i<taille;i++){
  showDivs(slideIndex,i);
}

function plusDivs(n,j) {
  showDivs(slideIndex += n,j);
}

function currentDiv(n,j) {
  showDivs(slideIndex = n,j);
}

function showDivs(n,j) {
  var i;
  var a;
  var b;

  var a = "mySlides "+j;
  var b = "demo "+j;
  var x = document.getElementsByClassName(a);
  console.log(a);
  var dots = document.getElementsByClassName(b);
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";

}
</script>


</body>

</html>
<style>

</style>
