<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>north of morocco</title>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
  {% load static %}

	<link rel="stylesheet" href="{% static "apptourisme/css/bootstrap.css" %}">
	<!-- Bootstrap-Core-CSS -->
	<link href="{% static "apptourisme/css/single.css" %}" rel="stylesheet" type="text/css" />
	<!-- single page -->
	<link rel="stylesheet" href="{% static "apptourisme/css/style.css" %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{% static "apptourisme/css/font-awesome.min.css" %}" rel="stylesheet">
	<link href="{% static "apptourisme/css/css_slider.css" %}" rel="stylesheet"/>

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href="index.html">North of Morocco</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="http://127.0.0.1:8000" class="active">Accueil</a></li>
								<li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
								<li><a href="http://127.0.0.1:8000/hotel/">Hotel</a></li>
								<li><a href="http://127.0.0.1:8000/Restaurant/">Restaurant</a></li>
								<li><a href="http://127.0.0.1:8000/transport/">Transport</a></li>
								<li><a href="http://127.0.0.1:8000/visite/">Visite</a></li>
								<li><a href="http://127.0.0.1:8000/activite/">Activite</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt">
			<div class="csslider infinity" id="slider1">
				<input type="radio" name="slides" checked="checked" id="slides_1" />
				<input type="radio" name="slides" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />
				<input type="radio" name="slides" id="slides_4" />
				<ul class="banner_slide_bg">
					<li>
						<div class="container">
							<div class="w3ls_banner_txt">
								<h3 class="w3ls_pvt-title text-wh text-uppercase let">HhHhHhHHhHhH </h3>

							</div>
						</div>
					</li>

					<li>
						<div class="container">
							<div class="w3ls_banner_txt">


							</div>
						</div>
					</li><li>
						<div class="container">
							<div class="w3ls_banner_txt">


							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="w3ls_banner_txt">


							</div>
						</div>
					</li>
				</ul>
				<div class="arrows">
					<label for="slides_1"></label>
					<label for="slides_2"></label>
					<label for="slides_3"></label>
					<label for="slides_4"></label>
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>

	<section class="about py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="row py-md-5">
				<div class="col-lg-4 about-left-w3pvt offset-lg-1 mt-lg-4">
					<div class="main-img">
						<img src="{% static "apptourisme/images/iss.jpg" %}" alt="" class="img-fluid pos-aboimg">
						<img src="{% static "apptourisme/images/oum.jpg" %}" alt="" class="img-fluid pos-aboimg2">
					</div>
				</div>
				<div class="col-xl-6 col-lg-7 about-right offset-xl-1">
					<h4 class="sub-tittle-w3layouts let"></h4>
					<h3 class="tittle-w3layouts text-uppercase pr-lg-5 mt-2">north of morocco</h3>
					<p class="mt-4 mb-4">Le Maroc est une destination touristique de reference en Afrique et l un des pays les plus attractifs en termes d investissements directs de l etranger (IDE) a l echelle continentale.

					Situe a proximite du plus grand marche emetteur de touristes au monde, en l occurrence l Europe, le Maroc offre aux investisseurs touristiques un environnement stable, transparent et propice a leurs investissements.

					north of morocco a fait de l attractivite du produit touristique sa priorite. Nous mettons a votre disposition une equipe jeune et competente, specialisee en investissement et developpement touristiques. Ses equipes sauront vous accompagner dans vos projets. Ils vous assisteront dans vos analyses, vos demarches administratives et vous aideront a prendre les bonnes decisions lors de votre implantation ou votre extension au Maroc.</p>
					<a href="about.html" class="btn button-style-2 mt-sm-5 mt-4">lire plus </a>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- price -->
	<div class="rooms-w3ls bg-li py-5" id="price">
		<div class="container-fluid py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold">North of Morocco</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3"></p>
			<div class="row">
				<div class="col-lg-4 price-mobamus">
					<div class="price-top">
						<a href="http://localhost:8000/Assilah/">
							<img src="{% static "apptourisme/images/p1.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>
					<div class="price-w3ls-bottom p-4">
						<h4 class="my-2"><a href="http://localhost:8000/Assilah/">Assilah</a></h4>

						<ul class="style-lists">
							<p>Asilah, comme le prononcent les habitants de la region, est une magnifique petite ville</p>

						</ul>
						<a href="http://localhost:8000/Assilah/" class="btn button-style-2 mt-sm-5 mt-4">afficher plus</a>
					</div>
				</div>
				<div class="col-lg-4 price-mobamus my-lg-0 my-5">
					<div class="price-top">
						<a href="http://localhost:8000/Tanger/">
							<img src="{% static "apptourisme/images/p2.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>
					<div class="price-w3ls-bottom p-4">
						<h4 class="my-2"><a href="shttp://localhost:8000/Tanger/">Tanger</a></h4>

						<ul class="style-lists">
							<p>Envie de decouvrir Tanger ? Il y a mille et une facons de le vivre.</p>

						</ul>
						<a href="http://localhost:8000/Tanger/" class="btn button-style-2 mt-sm-5 mt-4">afficher plus</a>
					</div>
				</div>
				<div class="col-lg-4 price-mobamus">
					<div class="price-top">
						<a href="http://localhost:8000/Larache/">
							<img src="{% static "apptourisme/images/p3.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>
					<div class="price-w3ls-bottom p-4">
						<h4 class="my-2"><a href="http://localhost:8000/Larache/">Larache</a></h4>

						<ul class="style-lists">
							<p>Envie de decouvrir Larache ? Il y a mille et une facons de le vivre.
                             Des documents portugais du XVe</p>

						</ul>
						<a href="http://localhost:8000/Larache/" class="btn button-style-2 mt-sm-5 mt-4">afficher plus</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //price -->

	<!-- why -->
	<div class="serives py-5" id="why">
		<div class="container py-xl-5 py-lg-3">


			<div class="row text-center">
				<div class="col-lg-3 col-md-6 ser-grid">
					<span class="fa fa-cutlery"></span>
					<h4>Restaurant</h4>

				</div>
				<div class="col-lg-3 col-md-6 ser-grid mt-md-0 mt-5">
					<span class="fa fa-money"></span>
					<h4>Low Price</h4>

				</div>
				<div class="col-lg-3 col-md-6 ser-grid mt-lg-0 mt-5">
					<span class="fa fa-user-secret"></span>
					<h4>Secure Zone</h4>

				</div>
				<div class="col-lg-3 col-md-6 ser-grid mt-lg-0 mt-5">
					<span class="fa fa-car"></span>
					<h4>Pick Up</h4>

				</div>
			</div>
		</div>
	</div>
	<!-- why -->

	<!-- stats -->
	<div class="stats py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row stats-mobamu py-5">
				<div class="col-lg-4 col-md-6">
					<div class="stats-grid">
						<div class="row">
							<div class="col-4 text-center">
								<span class="fa fa-star"></span>
							</div>
							<div class="col-8">
								<h4 class="numscroller">6000</h4>
								<p>Excellent Ratings</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-md-0 mt-4">
					<div class="stats-grid">
						<div class="row">
							<div class="col-4 text-center">
								<span class="fa fa-smile-o"></span>
							</div>
							<div class="col-8">
								<h4 class="numscroller">25k</h4>
								<p>Happy Guests</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mx-lg-0 mx-md-auto mt-lg-0 mt-4">
					<div class="stats-grid">
						<div class="row">
							<div class="col-4 text-center">
								<span class="fa fa-cutlery"></span>
							</div>
							<div class="col-8">
								<h4 class="numscroller">150</h4>
								<p>Food Items</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //stats -->

	<!-- blog -->




	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->


</body>

</html>
