<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>north of morocco</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	{% load static %}
	<!-- Custom-Files -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/bootstrap.css" %} ">
	<!-- Bootstrap-Core-CSS -->
	<link href=" {% static "apptourisme/css/single.css" %}" rel="stylesheet" type="text/css" />
	<!-- single page -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/style.css" %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href=" {% static "apptourisme/css/font-awesome.min.css" %}" rel="stylesheet"/>
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static "apptourisme/css/css_slider.css" %}" rel="stylesheet"/>
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href="index.html">North of Morocco</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="http://localhost:8000/" class="active">Accueil</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="Hotel.html">Hotel</a></li>
								<li><a href="Restaurant.html">Restaurant</a></li>
								<li><a href="Transport.html">Transport</a></li>
								<li><a href="Visite.html">Visite</a></li>
								<li><a href="Activite.html">Activite</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt-2">

		</div>
		<!-- //banner -->
	</div>
	<div style="margin-left: 70px ; margin-right: 70px;" >
	<!-- //main banner -->
	<br>
	<p class="p-name" itemprop="name" style=" text-align: center; font-size: 35px; color: #000000;" ><b>Larache</b></p>
	<br>
	<div>
	<p class="e-content color-black" itemprop="description" align="justify" >
		Envie de découvrir Larache ? Il y a mille et une façons de le vivre. Des documents portugais du XVe siècle citent Larache comme le port majeur du Maroc. Juste à côté se situent les ruines de Lixus, port carthaginois et romain, sur l'autre rive du fleuve Loukkos. À la fin du Moyen Âge, Larache fut fondée à la suite de la conquête arabe. Larache est une ville marocaine, connue sous le nom antique de Lixus.</p>
	</div>
	
	<div class="rooms-w3ls bg-li py-5" id="price" style="margin: 50px 50px ;">
		<div class="container-fluid py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold">North of Morocco</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3"></p>
			<div class="row">
				<div class="col-lg-4 price-mobamus">
					
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/larache.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
				<div class="col-lg-4 price-mobamus my-lg-0 my-5">
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/larache-.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
				<div class="col-lg-4 price-mobamus">
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/LIXUS.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<p class="e-content color-black mt-5" itemprop="description" align="justify">
	Crée en 1985, elle fait partie de la région administrative de Tanger-Tétouan avec une population de 472 386 habitants. Limité à l'Ouest par l'Océan Atlantique, cette petite ville regorge de magnifiques plages sous un soleil rayonnant. Elle se modernise à une allure rapide juste à peu près à 86 kilomètres de Tanger. Elle a deux plages délimitées par une jetée : l'une avec vagues qui s'étend très loin, et l'autre, plus proche du bras de mer, plus calme, parfaite pour nager, située sur l'autre rive du fleuve, est accessible soit à pied (300 m de la place centrale) avec traversée en barque, soit en voiture ou en bus en contournant le fleuve (10 km).</p>
	<p class="e-content color-black mt-5" itemprop="description" align="justify">
	L'endroit le plus animé est situé autour de la place centrale ou place de la Libération (ex: plaza de Espana) de style arabo-andalou, bordée de nombreux cafés en terrasses. Sur cette place, la porte Bab el medina délimite l'une des entrées dans l'ancienne médina. À l'intérieur de l'ancienne médina : le souk Esseghir (Petit Souk), le marché aux légumes installé en permanence. Dans le centre, l'architecture andalouse est souvent présente, entre autres le marché central couvert récemment rénové (à 200 m de la place centrale).</p>
	<p class="e-content color-black mt-5" itemprop="description" align="justify">
	Une zone montagneuse qui constitue le prolongement Ouest de la chaîne Rifaine, l’offre un climat doux et donne une vue magnifique pour les amoureux de la nature sans oublier des collines marneuses entourant une plaine basse et marécageuse. Le réseau hydrographique de la Province comprend l’Oued Loukkos et ses affluents, la nappe du R’mel, trois lacs collinaires, ainsi que de nombreuses sources d’eau. D'autres forêts de pins, eucalyptus ou chênes-liège sont à proximité de Larache.</p>
	
	</div>
</body>
	<br>
	<br>
	<br>

	<footer>
	<!-- copyright -->
	<div class="cpy-right text-center py-3">
		<p>© 2020 North of Morocco. All rights reserved | Design by
			<a > OUMNIA</a>
		</p>
	</div>
	<!-- //copyright -->
	</footer>
</html>
