<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>north of morocco</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	{% load static %}
	<!-- Custom-Files -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/bootstrap.css" %} ">
	<!-- Bootstrap-Core-CSS -->
	<link href=" {% static "apptourisme/css/single.css" %}" rel="stylesheet" type="text/css" />
	<!-- single page -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/style.css" %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href=" {% static "apptourisme/css/font-awesome.min.css" %}" rel="stylesheet"/>
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static "apptourisme/css/css_slider.css" %}" rel="stylesheet"/>
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href="index.html">North of Morocco</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="http://localhost:8000" class="active">Accueil</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="Hotel.html">Hotel</a></li>
								<li><a href="Restaurant.html">Restaurant</a></li>
								<li><a href="Transport.html">Transport</a></li>
								<li><a href="Visite.html">Visite</a></li>
								<li><a href="Activite.html">Activite</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt-2">

		</div>
		<!-- //banner -->
	</div>
	<div style="margin-left: 70px ; margin-right: 70px;" >
	<!-- //main banner -->
	<br>
	<p class="p-name" itemprop="name" style=" text-align: center; font-size: 35px; color: #000000;" ><b>Tanger</b></p>
	<br>
	<div>
	<p class="e-content color-black" itemprop="description" align="justify" >
Envie de découvrir Tanger ? Il y a mille et une façons de le vivre.
Tanger a longtemps fait office de capitale culturelle officieuse pour un certain nombre d'écrivains et d'artistes du monde entier, attirés par son climat, ses paysages et son pittoresque, elle attire aussi les promoteurs immobiliers venus principalement du Rif et partout ailleurs.
Situé sur le détroit de Gibraltar qui sépare l’Afrique de l’Europe, à environ 15 km des côtes espagnoles, et à la périphérie du massif montagneux du Rif, elle offre une vue exceptionnelle de l’autre côté.</p></div>
	
	<div class="rooms-w3ls bg-li py-5" id="price" style="margin: 50px 50px ;">
		<div class="container-fluid py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold">North of Morocco</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3"></p>
			<div class="row">
				<div class="col-lg-4 price-mobamus">
					
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/sour.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
				<div class="col-lg-4 price-mobamus my-lg-0 my-5">
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/Hercule.jpg" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
				<div class="col-lg-4 price-mobamus">
					<div class="price-top">
						<a>
							<img src="{% static "apptourisme/images/plage.png" %}" alt="" class="img-fluid" />
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<p class="e-content color-black mt-5" itemprop="description" align="justify">
	Tanger a longtemps été une importante place stratégique. 
	Avec ses deux mille cinq cents ans d’existence, elle compte une population de 974 000 habitants aujourd’hui, c’est l’une des plus anciennes villes d’Afrique du Nord. Sa médina, sa kasbah, ses bazars et ses <a class="text-primary" title="souks">souks</a> comptent parmi les plus animés du pays, et ses plages sont superbes d’environ 7 km. Au siècle dernier, Tanger est devenu l’un des lieux de prédilection du jet set internationale.<br><br>

	Station balnéaire importante, Tanger dispose d’infrastructures hôtelières et touristiques variées, et d’une médina qui attire d’énorme visiteurs. 
	A l’entrée de la Médina, le grand Socco est le lieu le plus fréquenté de la ville. La place est bordée par l’ancienne résidence du Mendoub (représentant du Sultan) et son parc. Le parc de la Mendoubia est une splendeur avec son figuier banian géant et ses nombreux dragonniers centenaires, vous pouvez aussi voir le Musée la Kasbah, Cinémathèque de Tanger et la <a class="color-young" title="Grottes d'Hercule" >Grottes d'Hercule</a>.<br><br>

	Tanger est depuis longtemps une terre d'accueil pour de nombreux artistes et intellectuels. 
	Deuxième pôle économique <a class="text-primary" title="marocain" >marocain</a> après <a class="text-primary" title="Casablanca" >Casablanca</a>, l'activité industrielle de Tanger est diversifiée : industries textiles, chimiques, mécaniques, métallurgiques et <a class="text-primary" rel="nofollow" title="navales" href="https://fr.wiktionary.org/wiki/navales" target="_blank">navales</a>. L’infrastructure de la ville du détroit est importante : un port gérant les flux de marchandises et de voyageurs (plus d’un million de voyageurs par an) intégrant un port de plaisance et un port de pêche.</p>
	
	</div>
</body>
	<br>
	<br>
	<br>

	<footer>
	<!-- copyright -->
	<div class="cpy-right text-center py-3">
		<p>© 2020 North of Morocco. All rights reserved | Design by
			<a > OUMNIA</a>
		</p>
	</div>
	<!-- //copyright -->
	</footer>
</html>
