<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>North of morocco</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	{% load static %}
	<!-- Custom-Files -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/bootstrap.css" %} ">
	<!-- Bootstrap-Core-CSS -->
	<link href=" {% static "apptourisme/css/single.css" %}" rel="stylesheet" type="text/css" />
	<!-- single page -->
	<link rel="stylesheet" href=" {% static "apptourisme/css/style.css" %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href=" {% static "apptourisme/css/font-awesome.min.css" %}" rel="stylesheet"/>
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static "apptourisme/css/css_slider.css" %}" rel="stylesheet"/>
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href="index.html">North of morocco</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="http://127.0.0.1:8000" class="active">Accueil</a></li>
								<li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
								<li><a href="http://127.0.0.1:8000/hotel/">Hotel</a></li>
								<li><a href="http://127.0.0.1:8000/Restaurant/">Restaurant</a></li>
								<li><a href="http://127.0.0.1:8000/transport/">Transport</a></li>
								<li><a href="http://127.0.0.1:8000/visite/">Visite</a></li>
								<li><a href="http://127.0.0.1:8000/activite/">Activite</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt-2">

		</div>
	</div>
	<div class="breadcrumb-mobamu">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Transport</li>
		</ol>
	</div>
<section>
	<div class="rooms-w3ls bg-li py-5" id="price">
		<div class="container-fluid py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold">north of morocco</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3"></p>
			<div class="row">
				<div class="col-lg-4 price-mobamus">
							<img  src="{% static "apptourisme/images/b1.jpg" %}" alt="" class="img-fluid pos-aboimg" style="width: 400px; height: 240px" />
					<div class="price-w3ls-bottom p-4">
						<h4 class="my-2">Gare routière de tanger</h4>
						
						<ul class="style-lists">
							<p class="mt-4 mb-4">Tanger, Gare Routière de Tanger Bus terminal</p>
                                         	<p>Adresse:Place Al Jamia Al Arabia , Tanger</p>
                                         	<p>Coordonnées GPS:35.770602, -5.802475</p>
                                         	<p>Téléphone:N/A</p>
                                         	<p>Adresse électronique:	N/A</p>
                                         	<p>Tanger, Gare Routière de Tanger Bus terminal est situé à environ 1.31 km du centre-ville, qui est à seulement 18 minutes à pied.</p>
						</ul>
						<p style="text-align:center;"><a href="https://getbybus.com/fr/bus-de-tanger.html" class="btn button-style-2 mt-sm-5 mt-4">Reserver</a></p>
					</div>
				</div>
				<div class="col-lg-4 price-mobamus my-lg-0 my-5">
							<img src= "{% static "apptourisme/images/ONCF.jpg " %}" alt="" class="img-fluid pos-aboimg" style="width: 400px; height: 240px" />
						
					<div class="price-w3ls-bottom p-4">
						<h4 class="my-2">Office national des chemins de fer</h4>
						
						<ul class="style-lists">
							<p class="mt-4 mb-4">L’Office national des chemins de fer (ONCF) est un établissement public marocain chargé de l'exploitation du réseau ferroviaire du pays sous forme d'une entreprise publique à caractère commercial et industriel avec autonomie financière, il est créé en 1963 et placé sous la tutelle du ministère de l'équipement et du transport.</p>
						
						</ul>
						<p style="text-align:center;"><a href="https://www.oncf.ma/fr/.html" class="btn button-style-2 mt-sm-5 mt-4">Reserver</a></p>
					</div>
				</div>
				<div class="col-lg-4 price-mobamus">
					
							<img src="{% static "apptourisme/images/b5.jpg" %}" alt="" class="img-fluid pos-aboimg" style="width: 400px; height: 240px"/>
						
					
					<div class="price-w3ls-bottom p-4">
						<h4 class="my-2">l'aéroport Tanger-Ibn Battouta (TNG)</h4>
						
						<ul class="style-lists">
							<p class="mt-4 mb-4">L'aéroport Tanger - Ibn Batouta est un aéroport international situé à Boukhalef, à 10 km au sud de Tanger, au Maroc..</p>
						</ul><br><br><br><br>
						<p style="text-align:center;"><a href="https://www.kayak.fr/Tanger-Tanger-Ibn-Battouta-Aeroport.TNG.ap.html" class="btn button-style-2 mt-sm-5 mt-4">Reserver</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>						
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->

</body>

</html>